.hig{
    background-color:"#fff";
    width:1200px;
    border:5px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 1200px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fff;
    text-align: center;
    padding-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    text-anchor: start;
    
    font-size: 18px;
    font-weight: 900;
    fill: black;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   
  }
  
  .container {
   align-items: center;
   display:flex;
   justify-content: center;
   padding-top:50px;
   padding-bottom:20px;
  }
  .h3{
      text-align: center;
  }